.active {
      color: var(--active-color) !important;
      font-weight: bold;
      position: relative;
    }
    .active::after {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 3px;
      background-color: var(--active-color);
      border-radius: 3px;
    }